.changes-row {
    vertical-align: top;
}
.changes-row-odd {
    background-color: #EAEAEA;
    vertical-align: top;
}
.changes-cell-header {
    white-space: nowrap;
}
.changes-cell-old {
    white-space: pre-wrap;
    color: #AA0000;
    font-family: monospace;
}
.changes-cell-new {
    white-space: pre-wrap;
    color: #00AA00;
    font-family: monospace;
}
.changes-cell-ctime, .changes-cell-host {
    white-space: nowrap;
    font-weight: bold;
}
.changes-cell-param {
    text-align: center;
    font-weight: bold;
}
.changes-cell-hostname {
    background-color: #AAFFAA;
}
.changes-cell-state {
    background-color: #FFFFAA;
}
